*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #060A1D;
    font-family: 'Fira Code', monospace;
    color: #FFFFFF;

}
h1{
    text-align: center;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}